.card-bg {
  color: #f1f1f1 !important;
  background-image: linear-gradient(to right bottom, #00528f, #004987, #00407e, #003876, #002f6d);
  outline: none;
  border-radius: 25px !important;
  border-top: 4px solid #3facff !important;

  p {
    margin-bottom: 5px;
  }
}

.actions {
    display: flex;
    justify-content: flex-end;
    
    button {
        font-weight: bold;
    }
}
